.navigation__link {
    background-color: $color-secondary;
    color: white;
    border-radius: 8px;
    padding: 9px 15px;
    font-weight: 500;   
    
}
// bouton s'inscrire
.hero__submit{
    background-color: $color-secondary; 
    border-radius: 8px;
    border: none;
    color: white;
    padding: 11px 26px;
    font-size: 25px;
}












