.navigation__link{
    
    color: $color-primary ;
    border-radius: 8px;
    padding: 9px 15px;
    font-weight: 500;  
    transition: all  0.5s ease-in-out;
    &:hover{
        background-color: $color-secondary ;
        color: white;
    } 
    &.--active{
        background-color: $color-secondary ;
        color: white;
    }
    
}
// bouton s'inscrire
.hero__submit{

    @include btn; 
    margin-top: 85px;
}


.modal__submit{
    @include btn; 
    margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 130px;

}










