header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}


.hero{
    margin: 100px 100px;
    
}
.modal{
    background-color: $color-primary;
    position: absolute;
    color: white;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 536px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top:80px;
  position: absolute;
  top: 50%;
  left: 10%;
//  display: none;

}




















