@mixin btn {
    width: 200px;
    background-color: $color-secondary;
    height: 55px;
    border-radius: 8px;
    font-size: 25px;
    text-align: center;
    color: white;

    &:hover{
    background-color: $color-btn-hover;

    }
    
}