@import "./sass/reset";
@import "./sass/variables";
@import "./sass/mixins";
@import "./sass/layout";
@import "./sass/components";
@import "./sass/animation";


.body__content{

    padding: 51px 67px;
   border-radius: 8px;
    background: #232323;
    color: #fff;
    position: absolute;
    left: -82px;
    text-align: left;
    // min-width: 424px;
    width: 40%;
    height: 617px;
    z-index: -10;

}
.hero__body{
   position: relative;

    .hero__title{
        font-size: 90px;
        font-family: DM Sans;
        line-height: 100px;
        color: white;
        white-space: nowrap;
    }
    .hero__txt{
        font-size: 24px;
        width: 430px;
        height: 93px;
        line-height: 31px;
        color: white;
        margin-top: 55px;

        
    }
}

.hero__img{


    img{
        height: 615px;
        width: 80%;
         object-fit: cover;
        border-radius: 0px 8px 8px 0px;
        position: absolute;
        z-index: -15;
        left: 268px;
    }
      
 
       
    }
